ThePurge 1.0

NUM_PLAYERS	4
NUM_DAYS	5
NUM_ROUNDS_PER_DAY	50
BOARD_ROWS	150
BOARD_COLS	300
NUM_INI_BUILDERS	4
NUM_INI_WARRIORS	2
NUM_INI_MONEY	10
NUM_INI_FOOD	5
NUM_INI_GUNS	4
NUM_INI_BAZOOKAS	2
BUILDER_INI_LIFE	60
WARRIOR_INI_LIFE	100
MONEY_POINTS	5
KILL_BUILDER_POINTS	100
KILL_WARRIOR_POINTS	250
FOOD_INCR_LIFE	20
LIFE_LOST_IN_ATTACK	20
BUILDER_STRENGTH_ATTACK	1
HAMMER_STRENGTH_ATTACK	10
GUN_STRENGTH_ATTACK	100
BAZOOKA_STRENGTH_ATTACK	1000
BUILDER_STRENGTH_DEMOLISH	10
HAMMER_STRENGTH_DEMOLISH	10
GUN_STRENGTH_DEMOLISH	10
BAZOOKA_STRENGTH_DEMOLISH	30
NUM_ROUNDS_REGEN_BUILDER	50
NUM_ROUNDS_REGEN_WARRIOR	50
NUM_ROUNDS_REGEN_FOOD	10
NUM_ROUNDS_REGEN_MONEY	5
NUM_ROUNDS_REGEN_WEAPON	40
BARRICADE_RESISTANCE_STEP	40
BARRICADE_MAX_RESISTANCE	320
MAX_NUM_BARRICADES	3



   000000000011111111112222222222
   012345678901234567890123456789
00 .C......C...M....W............
01 ..........G...F...............
02 ..BBBBBB.C.....C.......C.FW.F.
03 .CB........C.........MC...M...
04 ..BB.................BBBB.....
05 ...B...M..M........B....BBB...
06 .B.B..F..........B.BMM..W.B.BM
07 .B.BBBBBBB.C....CB.B......B.B.
08 .B.......C.......B.B.W....B.B.
09 CBBBBBBBBBBBB....B.B.B.B..BWB.
10 ............BG...B.B.B.B..B.BW
11 .......F....B.C..B.BWB.BBBB.B.
12 G.........Z.B..C.B.B.B.C....B.
13 ...C...W.Z....M..BBB.BBBBBBBB.
14 ..G............M..............

citizens
24
type	id	player	row	column	weapon	life
b	0	0	2	23	n	60
b	1	0	7	16	n	60
b	2	0	3	11	n	60
b	3	0	0	1	n	60
w	4	0	13	7	h	100
w	5	0	6	24	h	100
b	6	1	11	14	n	60
b	7	1	2	15	n	60
b	8	1	2	9	n	60
b	9	1	12	15	n	60
w	10	1	9	27	h	100
w	11	1	0	17	h	100
b	12	2	3	1	n	60
b	13	2	13	3	n	60
b	14	2	9	0	n	60
b	15	2	8	9	n	60
w	16	2	11	20	h	100
w	17	2	2	26	h	100
b	18	3	12	23	n	60
b	19	3	0	8	n	60
b	20	3	3	22	n	60
b	21	3	7	11	n	60
w	22	3	10	29	h	100
w	23	3	8	21	h	100

barricades
0
player	row	column	resistance

